* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: antiquewhite;
}

html, body {
  background-color: #222;
  scroll-behavior: smooth;
}

.header {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  padding: 10px;
      grid-template-areas: "menuBar  statusSection";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header .menuBar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuBar;
  display: -ms-grid;
  display: grid;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
}

.header .statusSection {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: statusSection;
  display: -ms-grid;
  display: grid;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.header .statusSection .cartStatus {
  background: linear-gradient(84deg, #15589f 0%, #155687 34%, #1f9f30 100%);
  padding: 5px 10px;
  width: 100px;
  text-align: right;
  -webkit-box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  cursor: pointer;
}

.header .statusSection .cartStatus:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(120, 116, 116, 0.75);
          box-shadow: 1px 1px 10px 0px rgba(120, 116, 116, 0.75);
}

.header ul.navMenu li {
  display: inline;
  list-style-type: none;
}

.header ul.navMenu {
  background-color: #222;
}

.header ul.navMenu li a {
  width: 70px;
  color: #FFF;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header ul.navMenu li a:hover {
  background-color: orange;
  color: #222;
}

.header .active {
  background: linear-gradient(84deg, #15589f 0%, #155687 34%, #1f9f30 100%);
}

.projectContainer {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
      grid-template-areas: "productList  cart";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.projectContainer .productList {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: productList;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 80px;
  row-gap: 5px;
  margin-bottom: 20px;
}

.projectContainer .cart {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cart;
  grid-auto-rows: 70px;
}

.projectContainer .productList, .projectContainer .cart {
  display: -ms-grid;
  display: grid;
  height: 60vh;
  max-height: 60vh;
  overflow: scroll;
  row-gap: 5px;
}

@media only screen and (max-width: 600px) {
  .projectContainer {
        grid-template-areas: "productList" "cart";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .statusSection {
    justify-items: left;
  }
}

.bodyContent {
  min-height: 500px;
}

.sectionHeader {
  width: 97%;
  margin-left: 10px;
  background: linear-gradient(84deg, #15589f 0%, #155687 34%, #1f9f30 100%);
  -webkit-box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
  color: antiquewhite;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productDetails {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'productImage productDesc buttonSection';
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #151515;
}

.productDetails:hover {
  background-color: #030303;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.productImage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: productImage;
  justify-items: left;
}

.productImage img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.productDesc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: productDesc;
  color: antiquewhite;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonSection {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: buttonSection;
  text-align: right;
  display: -ms-grid;
  display: grid;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 10;
  width: 120px;
  height: 30px;
  background: linear-gradient(84deg, #15589f 0%, #155687 34%, #1f9f30 100%);
  color: antiquewhite;
  border: 1px solid #11496f;
  border-radius: 5px;
  margin-right: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.6);
          box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.6);
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.cart {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cart;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 70px;
  row-gap: 5px;
}

.cartItem {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'itemImage itemDesc buttonSection';
  -ms-grid-columns: 100px 1fr 150px;
      grid-template-columns: 100px 1fr 150px;
  border-radius: 5px;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #151515;
}

.cartItem:hover {
  background-color: #030303;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes expand {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}

@keyframes expand {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}

.fadeItem {
  -webkit-animation: expand .5s ease-in-out;
          animation: expand .5s ease-in-out;
}

.itemImage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: itemImage;
}

.itemImage img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.itemDesc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: itemDesc;
  color: antiquewhite;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  grid-area: footer;
  -webkit-box-shadow: 2px -5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px -5px 12px 0px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  height: 100px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.home {
  width: 100%;
  height: 100vh;
  background-color: #222;
}

.home .homeDesc {
  text-align: center;
  width: 100%;
  margin: 30px;
}

.home .homeDesc h3 {
  text-align: center;
  margin-top: 10px;
}

.backdrop {
  background: url("../images/code.jpg") center;
  background-size: contain;
  margin: auto;
  width: 75vw;
  -webkit-box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.75);
}

.text {
  color: white;
  border: 1px solid #222;
  background: #222;
  font: bolder 12vw 'Ariel';
  text-align: center;
}

.multiply {
  color: white;
  mix-blend-mode: multiply;
  background-color: #342f2f;
}

.screen {
  color: black;
  mix-blend-mode: screen;
  background-color: #f4dcd3;
}

.darken {
  color: white;
  mix-blend-mode: darken;
  background-color: #3b0206;
}

.lighten {
  color: black;
  mix-blend-mode: lighten;
  background-color: #f4dcd3;
}

.text2 {
  font: bolder 12vw 'Times';
  text-align: center;
  background: url("../images/code.jpg") center;
  background-size: contain;
  margin: auto;
  width: 75vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 5px 10px 25px #0e0e0e;
}

.documentation {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 20px;
}

.documentHeader {
  padding: 20px;
  background: linear-gradient(84deg, #15589f 0%, #155687 34%, #1f9f30 100%);
  border-radius: 5px;
  margin-bottom: 20px;
}

.topicRow {
  display: -ms-grid;
  display: grid;
  border: 1px solid #909090;
  border-radius: 5px;
      grid-template-areas: "topicLabel topicDesc";
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.topicLabel {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: topicLabel;
  grid-gap: 20px;
}

.topicDesc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topicDesc;
}

.imageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  grid-gap: 5px;
}

.imageContainer div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  color: antiquewhite;
}

.imageContainer > div:nth-child(odd) {
  background-color: #87b94d;
}

.imageContainer > div:nth-child(even) {
  background-color: #e35757;
}
/*# sourceMappingURL=style.css.map */