
$whiteColor     : antiquewhite;
$blackColor     : #222;
$blueColor      : rgb(17, 73, 111);
$bgColor        : rgb(8, 142, 23);
$gradientBGColor: linear-gradient(84deg, rgba(21,88,159,1) 0%, rgba(21,86,135,1) 34%, rgba(31,159,48,1) 100%);
$fadeBlackColor : #151515;
$greyColor      : rgb(144, 144, 144);
$solidBorder    : 1px solid $greyColor;
$borderRadius   : 5px;
$highLightedBG  : #030303;
$boxShadow      : 2px 2px 10px rgba(1,1,1,0.6);
$bottomBoxShadow: 2px 5px 12px 0px rgba(0,0,0,0.75);
$bottomWhiteBoxShadow: 1px 1px 10px 0px rgba(120, 116, 116, 0.75);
$topBoxShadow   : 2px -5px 12px 0px rgba(0,0,0,0.75);
$transition     : all .5s ease;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $whiteColor;
}

html, body{
    background-color: $blackColor;
    scroll-behavior: smooth;
}



  // ----- HEADER
.header{
    display: grid;
    box-shadow: $bottomBoxShadow;
    margin-bottom: 20px;
    padding: 10px;
    grid-template-areas:
        "menuBar  statusSection";
        grid-template-columns: 1fr 1fr;
    .menuBar{
        grid-area: menuBar;
        display: grid;
        justify-items: left;
        align-items: center;
        min-width: 250px;
    }
    .statusSection{
        grid-area: statusSection;
        display: grid;
        justify-items: right;
        align-items: center;
        padding-right: 30px;
    
        .cartStatus{
            background: $gradientBGColor;
            padding: 5px 10px;
            width: 100px;
            text-align: right;
            box-shadow: $bottomBoxShadow;
            border-radius: $borderRadius;
            cursor: pointer;
            &:hover{
                box-shadow: $bottomWhiteBoxShadow;
            
            }
       }
    }



    ul.navMenu li {
        display: inline;
        list-style-type: none;
      }
      ul.navMenu {
        background-color: $blackColor;
      }
      ul.navMenu li a {
        width: 70px;
        color: #FFF;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-right: 5px;
        border-radius: $borderRadius;
        box-shadow: $bottomBoxShadow;
        transition: $transition;
        &:hover{
            background-color: orange;
            color: $blackColor;
        }
      }
    
      .active {
        background: $gradientBGColor;
      }
    
}

    .projectContainer{
        display: grid;
        grid-gap: 5px;
        grid-template-areas:
        "productList  cart";
        grid-template-columns: 1fr 1fr;

        .productList{
            grid-area: productList;
            display: grid;
            grid-auto-rows: 80px;
            row-gap: 5px;
            margin-bottom: 20px;
        }

        .cart{
            grid-area: cart;
            grid-auto-rows: 70px;
        }
        .productList, .cart{
            display: grid;
            height: 60vh;
            max-height: 60vh;
            overflow: scroll;
            row-gap: 5px;
        }
    }

    @media only screen and (max-width: 600px) {
        .projectContainer{
            grid-template-areas:
            "productList"
            "cart";
            grid-template-columns: 1fr;
        }

        .statusSection{
            justify-items: left;
        }
    } 
//--- BODY CONTENT
.bodyContent{
    min-height: 500px;
}

.sectionHeader{
    width: 97%;
    margin-left: 10px;
    background: $gradientBGColor;
    box-shadow: $bottomBoxShadow;
    color: $whiteColor;
    border-radius: $borderRadius;
    display: grid;
    justify-items: center;
    align-items: center;
}

.productDetails{
    border-radius: $borderRadius;
    display: grid;
    grid-template-areas: 
    'productImage productDesc buttonSection';
    transform: scale(0.98);
    transition: $transition;
    background-color: $fadeBlackColor;
    &:hover{
        background-color: $highLightedBG;
        transform: scale(1);
    }
}

.productImage{
    grid-area: productImage;
    justify-items: left;
    img{
        width: 80px;
        height: 80px;
        border-radius: $borderRadius;
    }
}

.productDesc{
    grid-area: productDesc;
    color: $whiteColor;
    display: grid;
    justify-items: center;
    align-items: center;
}

.buttonSection{
    grid-area: buttonSection;
    text-align: right;
    display: grid;
    justify-items: right;
    align-items: center;
}
.button{
    padding: 10;
    width: 120px;
    height: 30px;
    background: $gradientBGColor;
    color: $whiteColor;
    border: 1px solid $blueColor;
    border-radius: $borderRadius;
    margin-right: 15px;
    box-shadow: $boxShadow;
    outline: none;
    &:hover{
        cursor: pointer;
    }
}

.cart{
    grid-area: cart;
    display: grid;
    grid-auto-rows: 70px;
    row-gap: 5px;
}

.cartItem{
    display: grid;
    grid-template-areas: 
    'itemImage itemDesc buttonSection';
    grid-template-columns: 100px 1fr 150px;
    border-radius: $borderRadius;
    transform: scale(0.98);
    transition: $transition;
    background-color: $fadeBlackColor;
    &:hover{
        background-color: $highLightedBG;
        transform: scale(1);
    }
}

    @keyframes expand {
        from {
            transform: scale(0);
            opacity: 0;
            background: #5470B0;
        }
    }

    .fadeItem {
        animation: expand .5s ease-in-out;
    }
.itemImage{
    grid-area: itemImage;
    img{
        width: 70px;
        height: 70px;
        border-radius: $borderRadius;
    }
}

.itemDesc{
    grid-area: itemDesc;

    color: $whiteColor;

    display: grid;
    justify-items: center;
    align-items: center;
}

// ----- FOOTER
.footer{
    grid-area: footer;
    box-shadow: $topBoxShadow;
    margin-top: 50px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.8em;
}

// HOME

.home{
    width: 100%;
    height: 100vh;
    background-color: $blackColor;
    .homeDesc{
        text-align: center;
        width: 100%;
        margin: 30px;
        h3{
            text-align: center;
            margin-top: 10px;
        }
    }
}
.backdrop {
    background:             url("../images/code.jpg") center;
    background-size:        contain;
    margin:                 auto;
    width:                  75vw;
    box-shadow: $bottomBoxShadow;
}

.text {
    color:              white;
    border:             1px solid $blackColor;
    background:         $blackColor;
    font:               bolder 12vw 'Ariel';
    text-align:         center;
}


.multiply {
	color: white;
	mix-blend-mode: multiply;
	background-color: rgb(52, 47, 47);
}

.screen {
	color: black;
	mix-blend-mode: screen;
	background-color: rgba(244, 220, 211, 1);
}

.darken {
	color: white;
	mix-blend-mode: darken;
	background-color: rgba(59, 2, 6, 1);
}

.lighten {
	color: black;
	mix-blend-mode: lighten;
	background-color: rgba(244, 220, 211, 1);
}


.text2{
    font:                           bolder 12vw 'Times';
    text-align:                     center;
    background:                     url("../images/code.jpg") center;
    background-size:                contain;
    margin:                         auto;
    width:                          75vw;
    background-clip:                text;
    -webkit-background-clip:        text;
    color:                          transparent;
}

.documentation{
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
}
.documentHeader{
    padding: 20px;
    background: $gradientBGColor;
    border-radius: $borderRadius;
    margin-bottom: 20px;
}
.topicRow{
    display: grid;
    border: $solidBorder;
    border-radius: $borderRadius;
    grid-template-areas: 
    "topicLabel topicDesc";
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    padding: 10px;
    margin-bottom: 10px;

}
.topicLabel{
    grid-area: topicLabel;
    grid-gap: 20px;
}

.topicDesc{
    grid-area: topicDesc;
}



